<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.ReplyMapper">
	<insert id="insert">
		insert into tbl_reply(replyer, reply, bno)
		values(#{replyer}, #{reply}, #{bno})
	</insert>
	<update id="update">
		update tbl_reply set reply=#{reply}, updatedate=now()
		where rno=#{rno}
	</update>
	<delete id="delete">
		delete from tbl_reply where rno=#{rno}
	</delete>
    <select id="list" resultType="com.example.domain.ReplyVO">
        select * from tbl_reply
        where bno=#{bno}
        order by rno desc
        limit #{cri.pageStart}, #{cri.perPageNum}
    </select>
    <select id="count" resultType="int">
    	select count(*) from tbl_reply
    	where bno=#{bno}
    </select>
</mapper>